body {
    font-family: sans-serif;
    display: flex;
    margin: 30px auto;
    max-width: 80vw;
    background-image: url("https://images.unsplash.com/photo-1748182575169-e1e8e3901ec3?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

}

input,button{
    border-radius: 8px;
    border: none;
    padding: 6px 16px;
}
button {
    padding: 4px 16px;
    margin: 0 2px;
    
}
button:hover {
    background-color: rgb(5, 32, 23);
    color: wheat;
    cursor: pointer;
}

.input-area {
    background-color: rgb(153, 236, 208);
    width: 400px;
    height: 30px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
     opacity: 0.6;
}
.incomplete-area,.completed-area {
    border: 1px solid rgb(34, 230, 164);
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background-color: rgb(153, 236, 208);
    opacity: 0.6;

}

.incomplete-area ul ,.completed-area ul{
    opacity: 1;
}

.title {
    text-align: center;
    margin-top: 0;
    font-weight: bold;
}
.list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo-item {
    font-size: 16px;
}

